<%inherit file="base_app.htm" />

<%block name="title">
	Edit User
</%block>
<%block name="content_top">
<h1 class="title text-center">
	Edit User
</h1>
<hr>
</%block>
<%block name="content">

<div class="col-md-7 text-left">
<form method='POST' id='UsersChangePasswordForm'>
	<table>
  	${ form }
  </table>
  <script type="text/javascript">
      $(function () {
          $('#id_birthdate').datetimepicker({
                 format: 'MM/DD/YYYY'
           });
      });
  </script>
	<a href="/manager/users/" class="btn btn-danger" style="margin-left:50px; margin-top:30px">Cancel</a>
  <button class="btn btn-primary" type="submit" style="margin-left:50px; margin-top:30px">Make Changes</button>
</form>
</%block>