<%inherit file="base_app.htm" />

<%block name="title">
	FAQs
</%block>

<%block name="content">
	<h3><span class="fa fa-pull-left fa-question-circle fa-spin fa-lg"></span>		FAQs</h3>
	<p>Here's a few of our frequently asked questions.</p>
	
	<div class="container">
		<div class="col-md-12">
			<p><strong>		What is so cool about CHF?</strong></p>
			<p>We love history! And we want you to love it too! We give you a chance to experience the past in a
				way nobody else can!</p><hr>
			<p><strong>Can I volunteer to be an actor?</strong></p>
			<p>Absolutely! Just get in touch with one of our event coordinators and we can have you acting in no time!</p>
		</div>
	</div>
</%block>