<%inherit file="base_app.htm" />

<%block name="title">
	Terms
</%block>

<%block name="content">
<div class="col-md-12" style="text-align:left">
<h1>WEBSITE TERMS AND CONDITIONS</h1></br>
<p>Please read these Terms of Service completely using chf.com which is owned and operated by Your Nowhere Town. This Agreement documents the legally binding terms and conditions attached to the use of the Site at chf.com.</br>
By using or accessing the Site in any way, viewing or browsing the Site, or adding your own content to the Site, you are agreeing to be bound by these Terms of Service. 
<h3>Intellectual Property</h3></br>
<p>The Site and all of its original content are the sole property of Your Nowhere Town and are, as such, fully protected by the appropriate international copyright and other intellectual property rights laws.</p></br>
<h3>Termination</h3></br>
<p>CHF reserves the right to terminate your access to the Site, without any advance notice. </p></br>
<h3>Changes to This Agreement</h3></br>
<p>CHF reserves the right to modify these Terms of Service at any time. We do so by posting and drawing attention to the updated terms on the Site. Your decision to continue to visit and make use of the Site after such changes have been made constitutes your formal acceptance of the new Terms of Service.</p></br>
<h3>Contact Us</h3></br>
<p>If you have any questions about this Agreement, please feel free to contact us using our "Contact Us" form. </p></br>


		
</%block>